/* header */
header{
  height: 10vh;
  background-color: #343a40;
  color: #fff;
}

header .inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
}

header ul{
  display: flex;
}

header ul li{
  padding: 0 20px;
}

header ul li a{
  color: #fff;
}

/* mainvisual */
.mainvisual{
  height: 80vh;
  background-image: url(./image/top.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

/* 背景画像を暗くする */
.mainvisual::before{
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

.mainvisual h2{
  text-align: center;
  color: #fff;
  font-size: 42px;
  font-weight: bold;
  line-height: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* about */
.about{
  background-color: #e2e4e4;
}

.about p{
  line-height: 2.5;
}

/* news */
.news .inner{
  text-align: left;
}

.news ul{
  margin-bottom: 80px;
}

.news ul li{
  border-bottom: 1px doted #ccc;
  padding: 5px 0;
}

.news ul li span{
  margin-right: 30px;
}

.news-btn{
  display: block;
  width: 150px;
  text-align: center;
  color: #4a4a4a;
  background-color: #e2e4e4;
  font-size: 16px;
  margin: 0 auto;
  padding: 10px 0;
  border: 1px soild #4a4a4a;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}

.news-btn:hover{
  opacity: 0.7;
}

/* works */
.works{
  background-color: #e2e4e4;
}

.works-card-wrapper{
  display: flex;
  justify-content: space-between;
}

.works-card-wrapper:last-child{
  margin-top: 30px;
}

.works-card{
  width: 30%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}

.works-card img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.works h3{
  padding: 10px;
}

/* access */
.access{
  background-color: #fff;
}

/* contact */
.contact{
  background-color: #e2e4e4;
}

input{
  width: 600px;
  padding: 10px 0;
  margin-bottom: 30px;
}

textarea{
  width: 600px;
  padding: 5px 0 120px 0;
  margin-bottom: 30px;
}

.contact-btn{
  width: 150px;
  color: #fff;
  background-color: rgb(71, 189, 236);
  font-size: 16px;
  padding: 10px 0;
  border: 1px soild #333;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}

.contact-btn:hover{
  opacity: 0.7;
}

/* footer */
footer{
  background-color: #4a4a4a;
  text-align: center;
}
footer p{
  color: #fff;
  padding: 20px 0;
}
